body {
    align-items: center;
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/d/d1/Mount_Everest_as_seen_from_Drukair2_PLW_edit.jpg');
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
